@mixin hover($_property, $_toValue) {
    transition: #{$_property} 0.3s;

    &:hover {
        #{$_property}: $_toValue;
    }
}

@mixin textLinkHover {
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s;

    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;

    &:hover {
        text-decoration-color: #fff;
        -webkit-text-decoration-color: #fff;
        -moz-text-decoration-color: #fff;
    }
}

@mixin onDesktop {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin grid($columns) {
    @for $start from 1 through $columns {
        @for $end from $start through $columns {
            &--#{$start}-#{$end} {
                grid-column: #{$start} / #{$end + 1};
            }
        }
    }
}