$color-white: rgba(255, 255, 255, 1);
$color-gray: rgba(179, 179, 186, 1);
$color-blue: rgba(36, 163, 255, 1);
$color-black: rgba(0, 0, 0, 1); 
$color-active: rgba(240, 20, 90, 1);
$color-red: rgba(255, 0, 0, 1);
$color-blue_dark: rgba(50, 50, 100, 1);



